*
{
  box-sizing: border-box;
  padding: 0px;
}
body{
  margin: 0;
  padding: 0;
  background-color: aqua;
  width:100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.container
{
 width:350px;
 background-color:rgb(179, 245, 225);
 padding:20px;
 border-radius:8px;
}
.input-container
{
 display: flex;
 width:100%;
 align-items: center;
 border:2px solid black;
 border-radius: 10px;
 overflow: hidden;
}
.cityinput
{
  
  height:30px;
  border: none;
  font-size: 20px;
  outline: none;
  padding: 10px;
}
.search-icon{
padding: 10px;
height: 30px;
  cursor: pointer;
}
.search-icon img{
 margin-top:5px;


}
img{
  color:white;
 width: 100%;
 text-align: center;
 margin-bottom: 10px;
}
.temp,.location,.country
{
  text-transform:uppercase;
  text-align: center;
  font-weight: bold;
}
.cord
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cord div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.data-container
{
  justify-content: space-around;
  display: flex;

}
.data-container img{
  justify-content: space-around;
  height:60px;
  width:90px;
}